body {
  margin: 0;
  padding: 0;

  font-family: "Roboto Bold", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: #ffffff;

  background-color: #849d8f;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.site-navigation,
.site-navigation-submenu,
.user-navigation,
.ice-cream,
.bonus,
.catalog-list,
.features-list,
.contact-list,
.social {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #ffffff;
  text-decoration: none;
}

.site-navigation-item a:hover {
  color: #333333;
  background-color: #f7f6f3;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 20px;
}

.site-navigation-item a:focus {
  color: #333333;
  background-color: #f7f6f3;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 20px;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}

.site-navigation-submenu a {
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  background-color: #f8f7f4;
}

.submenu-item-first a {
  font-weight: bold;
}

.site-navigation-submenu a:hover {
  background-color: #fbded7;
  border-radius: 0;
}

.site-navigation-submenu a:focus {
  background-color: #f6b5a5;
}

.circle {
  background-color: #a1b4a9;
  /*background-image:*/ ;
}

.circle a:hover {
  background-color: #f8f7f4;
}

.login {
    background-color: #a1b4a9;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 20px;
}

.login a:hover {
  color: #333333;
  background-color: f8f7f4;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 20px;
}

.basket {
  background-color: #a1b4a9;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 20px;
}

.basket a:hover {
  color: #333333;
  background-color: f8f7f4;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 20px;
}

.header-contacts {
  font-size: 14px;
  line-height: 16px;
}

.phone {
  font-size: 22px;
  line-height: 24px;
}

.ice-cream {
  font-size: 60px;
  line-height: 63px;
  text-align: center;
}

.slide-button {
  border:
}

.text-slider a,
.banner a {
  text-decoration: none;
  color: #ffffff;
}

.button-ice-cream {
  font-size: 32px;
  line-height: 44px;
  background-image: linear-gradient(#e1613e,#d74632);
  border-radius: 40px;
  padding: 20px;
}

.slide1 {
  background-image: url("../img/ice-cream-big1.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.slide2 {
  background-image: url("../img/ice-cream-big2.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.slide3 {
  background-image: url("../img/ice-cream-big3.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.banner h5 {
  font-size: 35px;
  line-height: 41px;
  padding-left: 20px;
  padding-top: 20px;
}

.banner p {
  font-size: 18px;
  line-height: 22px;
  padding-left: 20px;

}

.banner-1 {
  background-image: url("../img/raspberry.jpg");
  /*background-position: top center;*/
  background-repeat: no-repeat;
  border-radius: 15px;
}

.banner-2 {
  background-image: url("../img/chocolate.jpg");
  background-repeat: no-repeat;
  border-radius: 15px;
}

.banner-button {
  font-size: 18px;
  line-height: 24px;
  padding: 10px;
  background-image: linear-gradient(#e1613e,#d74632);
  border-radius: 20px;
}

.catalog-list p {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.catalog-list span {
  font-size: 30px;
  line-height: 45px;
}

.catalog-item img {
  border-radius: 150px;
}

.catalog-list a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}

.button-2 {
  text-decoration: none;
  padding: 10px;
  background-image: linear-gradient(#e1613e,#d74632);
  border-radius: 20px;
}
.features {
  color: #323232;
  background-image: url("../img/waffle.jpg");
  background-repeat: repeat;
  border-radius: 15px;
}

.features p {
  font-size: 24px;
  line-height: 30px;
  padding-top: 30px;
  padding-left: 30px;
}

.feature-item {
  font-size: 16px;
  line-height: 22px;
  padding: 10px;
}

.new-in-blog h4 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
}

.new-in-blog a {
  color: #323232;
}

.contact-list {
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  background-color: #fdfefe;
  border-radius: 20px;
}

.contact-list span {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.contact-list a {
text-decoration: none;
}

.contact-list button {
  color: #fefefe;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 20px;
  background-image: linear-gradient(#e1613e,#d74632);
  border-radius: 30px;
}

.main-footer a {
  color: #ffffff;
}

.documents {
  text-align: center;
}

.footer-copyright {

}

.modal {
  color: #323232;
  background-color: #f8f7f4;
}

.modal a {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
}

.inner-page {

}

a.site-navigation-link-current {
  background-color: #d07058;
  padding: 10px;
  border-radius: 20px;
}

.submenu-item-current a {
  background-color: #d07058;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter ul {
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  /*background-color: #a9bab0;
  padding: 10px;
  border-radius: 20px;*/
}

.filter-item {
  background-color: #a9bab0;
  padding: 10px;
  border-radius: 20px;
}

.down {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  border: none;
  background-color: #a9bab0;
}

.filter-button button {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: #a6b7ae;
  padding: 10px;
  border-radius: 30px;
}
